.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  position: absolute;
  flex-direction: row;
  align-self: center;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388;
  left: 64px;
  bottom: 30px;
}

.header__main-illustration{
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  z-index: 0;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background:#2f80ed;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
 }

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  padding-bottom: 30px;
  margin: auto;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.section-title {
  margin: auto;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

.section-subtitle {
  margin: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.table__cell {
  list-style-type: none;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
} 

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feinman {
  font-size: 36px;
  background: #f2f2f2 url(images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
  height: 790px;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
    font-size: 120px;
    text-align: center;
    padding: 0 70px;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1.15;
    width: 648px;
}

.feynman__subtitle {
  line-height: 51px;
  text-align: center;
  font-weight: normal;
  margin: 70px 0 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  color: black;
  font-weight: normal;
}

.feinman__image {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  align-items: center;
  background-color: #1f1f1f;
  z-index: -2;

}

.section-title__theme_dark {
  margin: auto;
  width: 60%;
  color: #fff;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;

}

.section-subtitle__title_theme_dark {
  color: #fff;
  margin: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table__theme_dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  padding-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  list-style-type: none;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
} 

.kaufman__triangle {
  position: absolute;
  right: -210px;
  z-index: -1;
  width: 877px;
  height: 877px;
  top: 0;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  }

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 40px;
  min-height: 100%;
  }
  
  .footer__column {
  display: flex;
  flex-direction: column;
  }
  
  .footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  align-items: start;
  }
  
  .footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  }

  .footer__column_info {
  flex-basis: 711px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  
  .footer__column-heading {
  margin: 0;
  padding-bottom: 20px;
  font-style: 18px;
  line-height: 30px;
  }
  
  .footer__column-links {
  margin: 0 0 16px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color:#fff;
  }
  
  .footer__column-links:hover {
  color: #2f80ed;
  }
  
  .footer__column-link {
  list-style: none;
  }
  
  .footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  }
  
  .logo_footer {
  z-index: 1;
  width: 183px;
  height: 35px;
  background-image: url(images/logo_place_header.svg);
  background-repeat: no-repeat;
  }
  
  .footer_column-right {
  flex: 1 0 auto;
  justify-content: space-between;
  display:flex;
  }
  
  /*все блоки div, являющиеся первым вложением в .footer_column-right должны обладать следующими свойствами:*/ 
  .footer_column-right > div {
  width:300px
  }